@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* Container */
  --breakpoint-2xl: 1200px;

  /* Border Radius */
  --radius-sm: calc(0.5rem - 4px);
  --radius-md: calc(0.5rem - 2px);
  --radius-lg: 0.5rem;

  /* Font Families */
  --font-sans: "PT Sans Caption", sans-serif;
  --font-inter: "Inter", sans-serif;

  /* Headings */
  --text-heading-hg: 40px;
  --text-heading-hg--line-height: 120%;
  --text-heading-hg--font-weight: 700;

  --text-heading-xl: 32px;
  --text-heading-xl--line-height: 120%;
  --text-heading-xl--font-weight: 700;

  --text-heading-lg: 28px;
  --text-heading-lg--line-height: 120%;
  --text-heading-lg--font-weight: 700;

  --text-heading-md: 24px;
  --text-heading-md--line-height: 120%;
  --text-heading-md--font-weight: 700;

  --text-heading-sm: 20px;
  --text-heading-sm--line-height: 120%;
  --text-heading-sm--font-weight: 700;

  --text-heading-xs: 16px;
  --text-heading-xs--line-height: 120%;
  --text-heading-xs--font-weight: 700;

  /* Body */
  --text-body-md: 16px;
  --text-body-md--line-height: 150%;
  --text-body-md--font-weight: 400;

  --text-body-sm: 14px;
  --text-body-sm--line-height: 150%;
  --text-body-sm--font-weight: 400;

  --text-body-xs: 12px;
  --text-body-xs--line-height: 150%;
  --text-body-xs--font-weight: 400;

  --text-body-tag: 12px;
  --text-body-tag--line-height: 150%;
  --text-body-tag--font-weight: 400;

  /* Action */
  --text-action-md: 16px;
  --text-action-md--line-height: normal;
  --text-action-md--font-weight: 500;

  --text-action-sm: 14px;
  --text-action-sm--line-height: normal;
  --text-action-sm--font-weight: 500;

  /* Colors */
  --color-white: #FFFFFF;

  --color-blue-100: #7EA4D7;
  --color-blue-200: #2C85FC;
  --color-blue-300: #2266C1;
  --color-blue-400: #0D284C;

  --color-cyan-100: #2DEBFC;
  --color-cyan-200: #187D86;
  --color-cyan-300: #0E474C;

  --color-gray-100: #F9FAFC;
  --color-gray-200: #D3D5D9;
  --color-gray-300: #93979F;
  --color-gray-400: #20242C;
  --color-gray-500: #16181D;
  --color-gray-600: #14161A;
  --color-gray-700: #101216;
  --color-gray-800: #0B0C0F;
}

@layer base {
  * {
    box-sizing: border-box;
    border-color: #D3D5D9;
  }

  body {
    background-color: #0B0C0F;
    color: #F9FAFC;
    font-family: "PT Sans Caption", sans-serif;
  }
}

@utility container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;

  @media (width >= 640px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @media (width >= 1024px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}